# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_reader = pd.read_csv("../output_data/weather_data.csv")
weather_df = csv_reader
weather_df.head()

     Unnamed: 0  Latitude  Longitude  Temperature  Humidity  Clouds   Wind
0     Busselton    -33.64     115.35        78.49        23       0  13.78
1       Ushuaia    -54.81     -68.31        48.20        87      90  17.22
2      Thompson     55.74     -97.86       -16.60        75      40   5.82
3     Nishihara     35.74     139.53        40.98        93      90   8.05
4  Punta Arenas    -53.16     -70.91        53.60        66     100  10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [262]:
gmaps.configure(api_key=g_key)

In [263]:
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [264]:
# A max temperature lower than 76 degrees but higher than 50.
# Wind speed less than 10 mph.
# Zero cloudiness.
length = len(weather_df)
x = 0

while (x-1) < length:
    if weather_df['Temperature'][x] > 76 :
        weather_df = weather_df.drop([x])
        length = length - 1
        x = x + 1
    elif weather_df['Temperature'][x] < 50:
        weather_df = weather_df.drop([x])
        length = length - 1
        x = x + 1
    elif weather_df['Clouds'][x] > 0:
        weather_df = weather_df.drop([x])
        length = length - 1
        x = x + 1
    elif weather_df['Wind'][x] > 10:
        weather_df = weather_df.drop([x])
        length = length - 1
        x = x + 1        
    else:
        x = x + 1

In [265]:
weather_df.head()

    Unnamed: 0  Latitude  Longitude  Temperature  Humidity  Clouds  Wind
6     Hermanus    -34.42      19.24        64.11        96       0  3.38
31  Bredasdorp    -34.53      20.04        65.16        94       0  3.36
37        Chuy    -33.69     -53.46        64.92        62       0  8.43
39       Kutum     14.20      24.66        54.57        29       0  2.82
47     Salalah     17.01      54.10        75.20        53       0  9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [270]:
hotel_df = pd.DataFrame()
hotel_df = weather_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

,Unnamed: 0,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Hotel Name
6,Hermanus,-34.42,19.24,64.11,96,0,3.38,
31,Bredasdorp,-34.53,20.04,65.16,94,0,3.36,
37,Chuy,-33.69,-53.46,64.92,62,0,8.43,
39,Kutum,14.20,24.66,54.57,29,0,2.82,
47,Salalah,17.01,54.10,75.20,53,0,9.17,

In [274]:
# set up a parameters dictionary
params = {
    "keyword": "hotel",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    # latitudes and longitudes from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotels" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    
    # convert to json
    hotel_name = hotel_name.json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [277]:
hotel_df.head()

,Unnamed: 0,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Hotel Name
6,Hermanus,-34.42,19.24,64.11,96,0,3.38,Birkenhead House
31,Bredasdorp,-34.53,20.04,65.16,94,0,3.36,Bredasdorp Country Manor
37,Chuy,-33.69,-53.46,64.92,62,0,8.43,Rivero Hotel Chuí
39,Kutum,14.20,24.66,54.57,29,0,2.82,
47,Salalah,17.01,54.10,75.20,53,0,9.17,Al Baleed Resort Salalah by Anantara

In [286]:
hotel_df.rename(columns={"Unnamed: 0": "City"})

,City,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Hotel Name
6,Hermanus,-34.42,19.24,64.11,96,0,3.38,Birkenhead House
31,Bredasdorp,-34.53,20.04,65.16,94,0,3.36,Bredasdorp Country Manor
37,Chuy,-33.69,-53.46,64.92,62,0,8.43,Rivero Hotel Chuí
39,Kutum,14.20,24.66,54.57,29,0,2.82,
47,Salalah,17.01,54.10,75.20,53,0,9.17,Al Baleed Resort Salalah by Anantara
97,San Pedro,-33.68,-59.66,69.33,61,0,1.99,Barrancas Hotel
138,San Patricio,-26.98,-56.83,71.42,31,0,4.00,
152,Cidreira,-30.17,-50.22,74.59,71,0,9.28,Hotel Castelo
187,Coquimbo,-29.95,-71.34,62.60,82,0,5.82,Enjoy Coquimbo Hotel de la Bahía
200,Mapastepec,15.44,-92.90,73.94,60,0,5.10,Hotel Diana
227,Dolores,-33.53,-58.22,71.01,52,0,4.00,Hostal Del Espinillo
267,Buta,2.79,24.73,66.69,55,0,0.43,HOTEL BISO NA BISO
272,Lagoa,37.14,-8.45,51.66,76,0,4.70,Pestana Palm Gardens
288,Walvis Bay,-22.95,14.51,64.17,88,0,2.24,Protea Hotel by Marriott Walvis Bay Pelican Bay
290,Gwanda,-20.94,29.00,70.29,49,70,5.46,Gwanda Hotel.
291,Severo-Yeniseyskiy,60.37,93.04,2.68,96,81,4.23,Aktolik
292,Samarai,-10.62,150.67,86.83,62,85,8.75,Nuli Sapi
293,Mitu,36.20,46.09,23.23,69,0,2.77,
294,Jacareacanga,-6.22,-57.76,74.73,96,97,2.15,HOTEL DA TANIA
295,Ishigaki,24.34,124.16,68.00,100,75,17.22,Hotel Miyahira
296,Bat Yam,32.02,34.75,47.43,57,75,18.34,Hotel Montefiore - הוטל מונטיפיורי
297,Turukhansk,65.80,87.96,1.15,95,100,11.21,"ООО ""Туруханская пушнина"""
298,Poum,41.28,20.71,25.81,35,0,4.52,
299,Hamilton,43.26,-79.87,34.99,80,75,13.87,Hamilton Guesthouse
300,Pinheiro Machado,-31.58,-53.38,61.12,75,0,13.00,Hotel Dal Cortivo (Pinheiro Machado)
301,Neubrandenburg,53.56,13.26,40.33,81,98,8.99,Badehaus
302,Qaanaaq,77.48,-69.36,-24.32,82,0,2.08,Qaanaaq Hotel
303,Ahipara,-35.17,173.16,78.01,57,23,3.00,Endless Summer Lodge - BBH
304,Lipin Bor,60.26,37.97,34.50,98,100,7.81,Усадьба помещика Гуляева
305,Mtwara,-10.28,40.18,78.80,94,20,5.82,Luwa Evergreen Hotel
...,...,...,...,...,...,...,...,...
535,Chifeng,42.27,118.96,23.41,39,0,18.68,Movenpick Hotel & State Guest House Chifeng
536,Pangnirtung,66.15,-65.72,-43.08,73,10,1.41,Auyuittuq Lodge (Inns North)
537,Abu Kamal,34.45,40.92,47.77,57,0,6.60,
538,Bangaon,23.04,88.83,51.80,93,40,5.68,পথের সাথী (Pather Sathi)
539,Brainerd,46.36,-94.20,2.34,70,75,5.82,"Country Inn & Suites by Radisson, Baxter, MN"
540,Japura,-0.42,102.29,81.55,81,100,4.76,
541,Lahr,48.34,7.87,32.09,92,0,3.36,Burgers Hotel
542,Rustenburg,-25.67,27.24,69.89,61,100,2.68,King's Gate Hotel
543,Hovd,63.83,10.70,45.18,61,100,26.40,
544,Karak,31.18,35.70,41.00,86,40,11.41,Cairwan Hotel
545,Bondoukou,8.04,-2.80,72.14,34,1,4.90,HOTEL IMANE BONDOUKOU
546,Santa Maria do Para,-1.35,-47.58,73.27,94,14,4.36,Shopping Motel (Adults Only)
547,Ulaangom,49.98,92.07,-12.87,89,88,1.19,Baylagod hotel
548,Verkh-Chebula,56.03,87.61,8.60,92,93,7.02,
549,Den Helder,52.96,4.76,49.53,100,90,29.97,Grand Hotel Beatrix
550,Ouadda,8.07,22.40,66.87,31,100,4.56,
551,Papara,-3.98,-38.73,83.12,78,40,5.82,
552,Saint-Georges,46.12,-70.67,14.32,90,100,1.01,"Le Georgesville, centre de congrès et hôtel"
553,Kualakapuas,-3.01,114.39,82.40,88,75,6.93,RedDoorz @ Jalan Cilik Riwut Kapuas
554,Krasnaya Gorka,55.19,56.67,16.02,97,84,2.17,
555,Naro Moru,-0.17,37.02,54.66,92,100,0.45,Naro Moru River Lodge
556,Beroroha,-21.68,45.17,74.30,87,0,1.45,
557,Mehamn,71.03,27.85,31.60,85,67,18.14,Mehamn Arctic Hotel AS
558,Gazli,40.13,63.45,29.32,53,17,9.62,
559,Severnoye,54.09,52.54,11.28,97,100,1.61,
560,Saldanha,41.42,-6.55,37.67,75,38,1.30,
561,Gonbad-e Qabus,37.25,55.17,46.40,45,0,2.24,Hotel Qaboos
562,Itamaraca,-7.75,-34.83,81.41,69,20,6.93,Pousada Ruínas do Pilar
563,Nortelandia,-14.45,-56.80,72.07,99,100,3.33,Hotel Karysmã
564,Kruisfontein,-34.00,24.73,65.08,91,84,7.43,

In [287]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'City'

In [281]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])

fig.add_layer(markers)

# Display Map
fig

# Display Map

NameError: name 'hotel_info' is not defined